.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.btn {
	margin-bottom: 20px;
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	box-sizing: border-box;
}

.btn:hover {
	background-color: #ededed;
	cursor: pointer;
}